In [1]:
#workflow
# 1)data collection
# 2)data preprocessing(bcz we have very imbalanced dataset)
# 3)data analysis
# 4)train the model on dataset  (logistic regression is used.)
# 5)evaluate(testing the model on unseen data)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
#Loading th dataset to pandas dataframe
credit_card_data=pd.read_csv("D:\PROJECTS\credit_card_fraud_detection\creditcard.csv")
credit_card_data

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [4]:
#Time column (minutes) ->Number of seconds elapsed between this transaction and the first transaction in the dataset
#ex->4th transaction happen after 2 minutes of first transaction

In [5]:
#v1 to v28 are confidential features and dont want to expose exactly what it is so,,,,,given name like this
#creadit card detaila..

In [6]:
#0 -> legit/authorized/valid transaction
#1 -> fraud transaction

In [7]:
#	172792/60 =>2879 minutes......2879/60=> 47 hours....
#ie;we have transaction details of around past 2 days..

In [8]:
 credit_card_data.info()
    #no any missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [9]:
credit_card_data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [10]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [11]:
#data is complete..

In [12]:
#distribution of legit and fraudlent transaction
credit_card_data['Class'].value_counts()
#as u see ,,data set is highly imbalanced...........training is more biased towords legit transaction..

#around 2lack data points belongs to legit
#and around 500 data pt belong to Fraud..

0    284315
1       492
Name: Class, dtype: int64

# dataset is IMBALANCED

In [13]:
#seprating data for analysis

In [14]:
Legit =credit_card_data[credit_card_data['Class'] == 0]
Fraud =credit_card_data[credit_card_data['Class'] == 1]

In [15]:
print(Legit.shape)
print(Fraud.shape)

(284315, 31)
(492, 31)

In [16]:
#statistical measures
Legit.Amount.describe()
#25 percentile means -> 25% of Legit transactions are on less tahn 5.65 dollers or rupees...
#99 percentile in college means(and assume you have score X marks) -> 99% students/competetors are behind you or less than your score X

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [17]:
Fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [19]:
#compare the mean values of all the columns for these 2 classes
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [21]:
#time column will not tell anthing so drop it
credit_card_data.groupby('Class').mean().drop(columns=['Time'])
#thses comparison will contribute more in training the ml model

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,0.009824,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,-5.676883,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Under Samppling

Build a sample dataset containing similar distribution of normal transaction and Fraudlent transaction

In [22]:
#ie;bcz we have only 492 Fraudlent tranasaction data,,,so we are going to consider sample of 492 legit data points...thus to make dataset balanced..

In [23]:
legit_sample= Legit.sample(n=492)#randomly selecting 492

In [24]:
#now concatinate legit_sample with fraudlent data.....thus we get balanced dataset

In [25]:
new_dataset = pd.concat([legit_sample,Fraud],axis=0)#0 means row by row operation is done,,,ie;one by one row is added..

In [26]:
new_dataset

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
24733,33357.0,-0.680468,0.437416,1.902844,-1.384401,0.014675,-0.414646,0.569944,0.070215,0.025869,...,-0.041389,0.005562,-0.014240,0.225182,-0.530253,0.693642,0.093450,-0.060333,16.00,0
182903,125580.0,1.954940,0.118052,-1.741284,1.183700,0.726220,-0.408079,0.521341,-0.191475,-0.096680,...,0.111550,0.435622,0.005078,0.713888,0.440735,-0.545412,-0.026331,-0.061027,29.00,0
102538,68247.0,-0.226104,-0.023901,0.850356,0.409447,0.415300,-0.488900,0.409158,-0.348725,0.664998,...,-0.122139,0.281710,0.295444,-0.054483,-0.170172,0.296112,-0.346339,-0.371778,2.00,0
82734,59527.0,-0.266085,0.839189,-0.925601,-1.046305,2.252691,3.184743,-0.215902,1.241660,-0.707970,...,0.086023,-0.014342,-0.080270,1.031870,-0.089648,0.306634,-0.109066,-0.038412,1.50,0
51627,45047.0,-2.523616,-3.343149,2.123735,0.580434,1.852167,-2.276839,-2.350645,0.449520,-0.280895,...,0.180922,0.035148,0.712973,0.293794,-0.601999,-0.510021,0.119708,0.273174,48.50,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [27]:
new_dataset.Class.value_counts()

0    492
1    492
Name: Class, dtype: int64

In [28]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,90987.378049,-0.068597,-0.094064,0.049137,0.067791,-0.048840,0.002318,0.138123,-0.107282,0.022138,...,0.027410,-0.041411,-0.042450,-0.007836,-0.006432,-0.004221,-0.003981,0.000500,-0.030219,106.188455
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [29]:
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [30]:
#as u see ,,even if we neglated more data from Legit transaction,,NATURE of dataset remains almost same...as u see mean from both the dataframes(28 cell,29cell)

# NATURE of dataset is almost same....

In [43]:
X = new_dataset.iloc[:,:-1] #or new_dataset.drop(columns='Class',axis=1)  droping column so 1.. 
y = new_dataset.iloc[:,-1]

In [47]:
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.1,stratify=y,random_state=2)
#startify=y -> evenely split the legit and fraud or we can say target feature values are evenly splitted
#if i dont use it then,,,,,X_train may have more no of Legit data compare to X_test or vice versa....

In [48]:
X_train

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
151678,96023.0,-5.544491,-8.392881,-0.269072,0.232351,-1.526697,-0.201122,3.217029,-0.561607,0.175583,...,4.776832,1.541229,0.772250,4.280477,-0.336955,0.806137,-0.170919,-0.780907,0.095010,1680.00
122445,76563.0,-1.529448,0.480482,1.469545,-1.877185,-0.867318,-0.771611,-0.136680,0.531244,-1.509293,...,0.275083,-0.028666,-0.339083,-0.087052,0.281242,0.350104,-0.556756,0.257712,0.100744,46.77
6472,7740.0,1.023874,2.001485,-4.769752,3.819195,-1.271754,-1.734662,-3.059245,0.889805,0.415382,...,0.204138,0.343283,-0.054196,0.709654,-0.372216,-2.032068,0.366778,0.395171,0.020206,1.00
125061,77521.0,1.192722,-0.273884,0.413463,-0.281229,-0.518959,-0.068551,-0.469338,0.214534,0.357517,...,-0.133897,-0.083450,-0.324781,0.077822,-0.281880,0.007662,0.940036,-0.069957,-0.007965,16.00
151006,94362.0,-26.457745,16.497472,-30.177317,8.904157,-17.892600,-1.227904,-31.197329,-11.438920,-9.462573,...,2.812241,-8.755698,3.460893,0.896538,0.254836,-0.738097,-0.966564,-7.263482,-1.324884,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52108,45278.0,-0.342106,1.325549,-0.597124,0.601814,0.815308,-0.239684,0.545883,0.294293,-0.932510,...,0.006173,0.169626,0.582050,0.022896,-0.813928,-0.514212,-0.368328,0.196215,0.131990,1.29
154094,100876.0,1.929493,-0.578778,0.117361,0.369224,-0.854050,0.225095,-1.218650,0.256238,2.594481,...,-0.253461,-0.080265,0.021193,0.370478,0.693247,-0.684433,0.390795,-0.057282,-0.048753,14.95
41569,40742.0,-2.377533,0.520539,-8.094139,8.005351,2.640750,-3.381586,-1.934372,0.562322,-3.104027,...,-0.634747,0.148284,0.721100,2.661291,-0.508620,-0.401657,0.587611,0.500326,0.551760,1.00
2038,1579.0,-0.651215,0.732782,1.601903,-1.422405,0.205690,-0.724152,0.898236,-0.321313,0.131648,...,0.159190,-0.140309,-0.201385,-0.153231,-0.062704,-0.286294,0.706658,-0.036723,-0.044774,22.30
50537,44532.0,-0.234922,0.355413,1.972183,-1.255593,-0.681387,-0.665732,0.059110,-0.003153,1.122451,...,-0.003469,0.220670,0.912107,-0.286338,0.451208,0.188315,-0.531846,0.123185,0.039581,1.00

# model training

In [50]:
model = LogisticRegression()

In [51]:
model.fit(X_train,y_train)

LogisticRegression()

In [53]:
model.score(X_train,y_train)#accuracy on training data

0.9231638418079096

In [54]:
model.score(X_test,y_test)#testing accuracy

0.9191919191919192

In [55]:
#OR   testing accuracy
y_hat = model.predict(X_test)
accuracy_score(y_hat,y_test)

0.9191919191919192

In [66]:
model.predict([np.array(X_test.iloc[0])])

C:\Users\shree\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [63]:
np.array(X_test.iloc[0])

array([ 3.72340000e+04,  9.54033274e-01, -9.72908408e-01,  7.99115927e-01,
        5.88130859e-01, -1.36917739e+00,  9.42595210e-02, -8.27858297e-01,
        2.92539591e-01, -7.11915289e-01,  9.73939760e-01,  1.02961886e+00,
       -5.39773411e-01, -2.07467007e+00,  6.98646494e-01,  8.79105236e-01,
       -1.07574415e+00, -1.16402339e-01,  1.83465242e+00, -1.55788157e+00,
       -4.43655039e-01, -1.00370644e-01, -1.90652349e-01, -2.94265392e-02,
        1.21039079e-01,  1.30231057e-01, -3.05325189e-01,  4.25003992e-02,
        4.35685383e-02,  1.38000000e+02])